.roadmap {
  width: 100%;
  position: relative;
}
.roadmap-header {
  min-height: 75px;
  left: 0;
  right: 0;
}
.roadmap-body {
  padding-top: 75px;
}
.roadmap-body-900 {
  max-height: 900px;
}
.roadmap-body-600 {
  max-height: 600px;
}
.roadmap-body-300 {
  max-height: 300px;
}
.w-day {
  width: 7%;
}
.w-day-alt {
  background-color: #fafafa;
}
.w-duration {
  width: 50px;
}
.w-task {
  width: 200px;
}
