.row {
  min-height: 20px;
}
.row:hover .w-task {
  font-weight: bold;
  background: #1a202c;
  color: white;
}
.row:hover .bar {
  font-weight: bold;
}
.row-grid {
  min-height: 20px;
}
.w-day-map {
  width: 7%;
  padding: 3px 0;
}
.bar {
  height: 20px;
  border-radius: 10px;
}
.offset-0 {
  margin-left: 0;
}
.bar-1 {
  width: 7%;
}
.offset-1 {
  margin-left: 7%;
}
.bar-2 {
  width: 14%;
}
.offset-2 {
  margin-left: 14%;
}
.bar-3 {
  width: 21%;
}
.offset-3 {
  margin-left: 21%;
}
.bar-4 {
  width: 28%;
}
.offset-4 {
  margin-left: 28%;
}
.bar-5 {
  width: 35%;
}
.offset-5 {
  margin-left: 35%;
}
.bar-6 {
  width: 42%;
}
.offset-6 {
  margin-left: 42%;
}
.bar-7 {
  width: 49%;
}
.offset-7 {
  margin-left: 49%;
}
.bar-8 {
  width: 56%;
}
.offset-8 {
  margin-left: 56%;
}
.bar-9 {
  width: 63%;
}
.offset-9 {
  margin-left: 63%;
}
.bar-10 {
  width: 70%;
}
.offset-10 {
  margin-left: 70%;
}
.bar-11 {
  width: 77%;
}
.offset-11 {
  margin-left: 77%;
}
.bar-12 {
  width: 84%;
}
.offset-12 {
  margin-left: 84%;
}
.bar-13 {
  width: 91%;
}
.offset-13 {
  margin-left: 91%;
}
.bar-14 {
  width: 98%;
}
.offset-14 {
  margin-left: 98%;
}
.bar:hover {
  overflow: visible;
  min-width: fit-content;
  opacity: 0.9;
}
.bar .fill {
  background: #2b6cb0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
.bar .fill.done {
  background: #48bb78;
}
.bar .bar-content {
  z-index: 1;
}
.bar .demo-file {
  margin-top: -2px;
}
.bar .ant-avatar.ant-avatar-icon > .anticon.demo-file-icon {
  margin-top: -2px;
}
